<h3>Set language</h3>
<ul>
  <li>
    {{#link-to 'app'}}
      PL
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'en'}}
      EN
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'de'}}
      DE
    {{/link-to}}
  </li>
</ul>

{{outlet}}
